<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- GA_SCRIPT -->

  <link rel="icon" href="/static/lm_favicon.png" type="image/png">
  <title>Open Questions — Learning Mechanics</title>

  <!-- KATEX -->
  <script defer src="/static/math-render.js"></script>

  <!-- FONT_AWESOME -->

  <link rel="stylesheet" href="/static/style.css">

  <meta name="description" content="Open questions in the science of deep learning.">
</head>
<body>
  <!-- NAV -->

  <div class="site-page">

    <div class="site-header">
      <h1>Open Questions</h1>
      <p class="site-description">Here we present a curated list of important open directions which we expect can be solved by a theory of the mechanics of learning.
Each of these presents much fertile ground for digging and exploration.
Each has an associated page where we encourage discussion.</p>
    </div>

    <main>
      <!-- QUESTIONS_PLACEHOLDER -->
    </main>

  </div>

  <!-- THEME_SCRIPT -->
</body>
</html>
