<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- GA_SCRIPT -->

  <link rel="icon" href="/static/lm_favicon.png" type="image/png">
  <title>Open Questions — Learning Mechanics</title>

  <!-- KATEX -->
  <script defer src="/static/math-render.js"></script>

  <!-- FONT_AWESOME -->

  <link rel="stylesheet" href="/static/style.css">

  <meta name="description" content="Open questions in the science of deep learning.">
</head>
<body>
  <!-- NAV -->

  <div class="site-page">

    <div class="site-header">
      <h1>Open Questions</h1>
      <p class="site-description">Pick an interesting open question and get curious about it. Some of these are broad and fertile directions; some are smaller questions that might be resolved in a single paper. If they're listed here, we think they're fertile ground for an individual or a small team to start digging. If and when papers make significant progress on any of these, we'll add pointers here.</p>
    </div>

    <main>
      <!-- QUESTIONS_PLACEHOLDER -->
    </main>

  </div>

  <!-- THEME_SCRIPT -->
</body>
</html>
